# should create an .env at the root where has the backend and frontend.
# merge frontend and backend env variables into one .env

VITE_APP_TITLE=Notifier Dashboard
VITE_APP_VERSION=1.0.0
VITE_AUTH_TOKEN_KEY=token
VITE_GOOGLE_CLIENT_ID=google_client_id
